.main_site_content {
  flex: 1;
  height: 100%;
  margin: 0;
  padding: 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid lightgray;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.form_items,
.quick_box,
.drive_main_con,
.veh_add_form {
  border: 1px solid gray;
  border-radius: 10px;
}

.veh_add_form {
  border-width: 3px;
}

.welcome_card,
.info_card {
  border: 0 !important;
  left: 0 !important;
}

.mobile_nav {
  display: none !important;
}

.desktop_nav {
  background-color: #0d6efd;
  font-size: 1.25em !important;
}

.nav-link-desk {
  color: white !important;
  width: 100% !important;
}

.nav-link-desk:hover {
  color: #a4b5c4 !important;
}

.vl {
  height: 75%;
  border-left: 2px solid gray;
}

.index_pos_container,
.quick_box_mobile {
  display: none !important;
}

/* Responsive Styles */
@media screen and (max-width: 650px) {
  .mobile_nav {
    display: flex !important;
  }

  .desktop_nav,
  .vl {
    display: none !important;
  }

  .veh_main_con {
    width: 100% !important;
  }
}
